
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
}

/*Footer*/
footertext {
    margin: 0 !important;
    padding: 0 !important;
}
footer {
     
    margin-top:10px;

}

@media (min-width: 768px) {
    .container-fluid {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1080px) {
    .container {
        width: 1080px;
    }
}
@media (min-width: 2400px) {
    .container {
        width: 2340px;
    }
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
/*This pertains to the login page*/
    .passtest {
        width:250px;
        margin-bottom:10px;
    }
    .emailtest {
        width: 250px;


    }
    login{
        margin-top: 10px;
    }
    .exempt {
        text-align: left;
        margin-left: 20px;
    }

    #logintitle {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    #loginsection {
        margin-top: 90px;
        margin-bottom: 180px;
    }
    .loginbutton {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .loginbutton:hover {
        background-color: #2980b9;
    }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}


/*Catalog Page*/
#UserControl{
    margin-left:1250px;

}
#UserControl:hover {
    color: gray !important;
}
.logout{
    background-color:white;
    border:none;
    margin-left: 50px;
}
dropdown-menu{
    width:10%;
}
#catalogbuttons {
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 210px;
}

#catalogtitle {
    margin-top: 140px;
    margin-left: 520px;
    font-size: 4rem;
}
.catalogtext {
    margin-left: 5px;
    font-size: 2.25rem;
}
.catalogtext2 {
    font-size: 2.25rem;
    margin-left: -5px;
}
.catalogtext3 {
    font-size: 2.25rem;
    margin-left: -50px;
}
.catalogtext4 {
    font-size: 2.25rem;
    margin-left: -50px;
}
.catalogtext5 {
    font-size: 2.25rem;
    margin-left: -20px;
    margin-top: -10px
}
.catalogtext6 {
    font-size: 2.25rem;
    margin-left: -80px;
}
.catalogtext7 {
    font-size: 2.25rem;
    margin-left: -20px;

}
.filebutton {
    background: url('https://api.iconify.design/mdi/file.svg') no-repeat center center / contain;
    background-color: lightgray;
    width: 74px; 
    height: 74px; 

    border: none;
    text-indent: -9999px; 
    border-radius: 15px; 
}
.salesbutton {
    background: url('https://api.iconify.design/icon-park-solid/sales-report.svg') no-repeat center center / contain;
    background-color: lightgray;
    width: 75px; 
    height: 75px;

    border: none;
    text-indent: -9999px; 
    border-radius: 15px; 
}
.collectionsbutton {
    background: url('https://api.iconify.design/ic/baseline-collections.svg') no-repeat center center / contain;
    background-color: lightgray;
    width: 75px; 
    height: 75px; 

    border: none;
    text-indent: -9999px; 
    border-radius: 15px; 
}
.accountingbutton {
    background: url('https://api.iconify.design/map/accounting.svg') no-repeat center center / contain;
    background-color: lightgray;
    width: 75px; 
    height: 75px;

    border: none;
    text-indent: -9999px; 
    border-radius: 15px; 
}
.reportsbutton {
    background: url('https://api.iconify.design/iconoir/reports-solid.svg') no-repeat center center / contain;
    background-color: lightgray;
    width: 75px;
    height: 75px; 

    border: none;
    text-indent: -9999px;
    border-radius: 15px; 
}
.settingsbutton {
    background: url('https://api.iconify.design/material-symbols/settings.svg') no-repeat center center / contain;
    background-color: lightgray;
    width: 70px; 
    height: 70px;

    border: none;
    text-indent: -9999px; 
    border-radius: 15px; 
}
/*Specific page*/

.buttonContainer {
    text-align: right;
    margin-left: 1250px;

}
.closebutton {
    background: url('https://api.iconify.design/icon-park-solid/back.svg') no-repeat center center / contain;
    background-color: none;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: -9999px;
    border-radius: 10px;
}

#specificcatalog {

 
}
.btn-size {
    width: 200px; 
}
#catalogbuttons2 {
    margin-top: -10px;
    margin-left: -100px;
    border: none !important;
    margin-bottom: 180px;
}
.custom-column-spacing {
    margin-right: 40px; 

}
#firstrow{
    margin-bottom: 20px;
}

#content{
    padding-top:50px;
}

 .btn-light {
    background-color: lightgray !important;
}

.btn-custom.active {
    background-color: black !important; 
    
}

.btn-custom.active svg {
    color: white !important;
}
.nav-item {
    text-align: left !important;
}
#sidettons {
    margin-left:-110px;
    padding-bottom: 100px;
    background-color: lightgray !important;

}
#site-logo {
    border: none !important;
    
}
/*active file*/
.ActiveGameCheckBox{
    margin-top:5px;
    margin-left: 100px;
}
.actgamecode {
    color: red;
    font-size: 11px;
    margin-left: 10px;
}
.actlowbet {
    color: red;
    font-size: 10px;
    margin-left: 9px;

}
.gameCodeDropDown{
    margin-left: 30px;
    width: 200px !important;
}

.gameCodeDropDown2 {
    margin-bottom:30px;
    width: 200px !important;
}
.scrollable-table {
    overflow-y: auto;
    height: 300px; /* Adjust as needed */
}
.scrollable-table2 {
    overflow-y: auto;
    height: 330px; /* Adjust as needed */
}
th, .aspNetTable th {
    position: sticky;
    top: 0; /* Adjust as needed */
    background-color: white; /* Or any color that matches your design */
    z-index: 1; /* To ensure the header stays on top */
}
.validator-error {
    display: block;
    position: absolute;
    background-color: #f44336;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    z-index: 1;
}

.validator-error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f44336 transparent;
}
.btndesign{
    background-color:lightgray !important;
    width:60px;

}
.small-font {
    font-size: 12px; /* Adjust as needed */
}
.clearbutton{
    margin-left:5px;
}
.ActiveCheckbox{
    margin-left: 130px;
}
.paragraph-style {
    width: 100%;
    font-size: 10px;
    line-height: 1;
    padding: 10px;
}
.no-resize {
    resize: none; /* Disables the resize handle */
}